PORT=5000

AUTH_SECRET="pQQu5T3yCMKP5NgwD80lCK1l8uJ5tcgHtUE0wYFlZFuUjD2zopglfsHuaXnLsmCcHvezPpNfhQ4DccgE8Onyb3"

OBF_BASE_DIRECTORY="D:/autoupd"

CONFIG_NAME="config.yml"

INPUT_JAR_NAME="input.jar"
OUTPUT_JAR_NAME="output.jar"

MCP_JAR_NAME="client.jar"
FABRIC_JAR_NAME="intermediary.jar"